<h1>We got the beat- please sign in:</h1>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
<p><%= error %></p>
<% end %>
<% end %>
<form action="/session" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_email"> Your email:</label>
  <input type="text" name="users[email]" id="user_email">
  <label for="user_password">Your password:</label>
  <input type="password" name="users[password]" id="user_password">
  <input type="submit" value="Are you ready for this? Click to login">
</form>
