<h3>Create a new album for <%= @album.band.name %></h3>

<form action="/albums" method="POST">
  <input type="hidden" name="authenticity_token" value="form_authenticity_token">
  <label for="album_title">Enter an album title</label>
  <input type="text" name="albums[title]" id="album_title">
  <br>
  <select name="albums[band_id]" id="album_band">
    <option></option>
    <% Band.all.each do |band| %>
      <option value=<%= band.id %>><%= band.name %></option>
    <% end %>
  </select>
  <input type="radio" name="albums[recording_type]" value="Studio" id="studio_recording">
  <label for="studio_recording">Studio Recording</label>
  <input type="radio" name="albums[recording_type]" value="Live" id="live_recording">
  <label for="live_recording">Recorded Live</label>
  <br>
  <input type="submit" value="Create album!">
</form>
