<h3>Create a new band</h3>

<form action="/bands" method="POST">
  <input type="hidden" name="authenticity_token" value="form_authenticity_token">
  <label for="band_name">Enter a band name</label>
  <input type="text" name="bands[name]" id="band_name">
  <input type="submit" value="Create band!"
</form>
